@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
        <div class="elementor-element elementor-element-a853fa1 elementor-widget elementor-widget-text-editor" data-id="a853fa1" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
                <div class="elementor-text-editor elementor-clearfix">
                    <h3 style="text-align: center;"><strong>PRIVACY POLICY OF </strong><strong>“</strong><strong>RPA.BG</strong><strong>” WEBSITE</strong></h3>
                    <p></p>
                    <p style="text-align: center;">
                    </p><p style="text-align: center;">With the purpose of providing the services (“<em>Services</em>“), pursuant to the Terms of Use published on the website <a href="https://rpa.bg/">http://rpa.bg/</a> („<em>Website</em>”), <strong>„RPA Consulting“ OOD, UIC 204737534</strong>, having its seat and registered address at Sofia city PO 1326, “Obelya” district, 232, ent. A, fl. 4, ap. 10, <em>(hereinafter referred to as „<strong>RPA</strong>“ or the „<strong>Company</strong>“)</em><em>,</em> processes Personal Data of natural persons <em>(„Data Subjects”/”You“</em>), in accordance with this Policy.</p>
                    <p><strong> </strong></p>
                    <p style="text-align: left;">When processing Personal Data, RPA complies with all applicable to its activities Personal Data protection legislation, including the Personal Data Protection Act and Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of Personal Data and on the free movement of such data.</p>
                    <p><strong> </strong></p>
                    <p style="text-align: center;"><strong>I. DEFINITIONS</strong></p>
                    <p><strong>Art.1.</strong> In this Policy, the following definitions of the terms, deriving from Art. 4 of the Regulation, are used:</p>
                    <p style="padding-left: 40px;">(1) <strong><em><u>„Regulation“</u></em></strong> – General Data Protection Regulation of 27 April 2016, repealing Directive 95/46/EC on the protection of Personal Data. It has direct effect and implies an amendment to the legislation of the member states in the field of Personal Data protection. Its purpose is to protect the “rights and freedoms” of natural persons and to guarantee that their Personal Data is not being processed without their knowledge, and where possible, the processing is subject to their consent.</p>
                    <p style="padding-left: 40px;">(2) <strong><em><u>„Personal Data“</u></em></strong> – can be any information that may be related to a natural person who is identified or a natural person who might be identified, directly or indirectly, through the use of one or more specific features or identifiers associated with that natural person. From the point of view of the nature of the information, the term “Personal Data” includes any kind of statement concerning a person. This entails “objective” information and “subjective” information, opinions, or assessments. With regards to the form or medium in which this information is contained, the term “Personal Data” includes information in any form, whether alphabetical, digital, graphic, photographic, or acoustic. For example, it includes information stored on paper as well as information stored in computer memory.</p>
                    <p style="padding-left: 40px;">(3) <strong><em><u>„Special (sensitive) categories of Personal Data“</u></em></strong>means a particular type of Personal Data due to the specific nature of the information it discloses about the natural person. In particular, this information reveals the racial or ethnic origin, religious and philosophical beliefs, political views, membership in trade union (or professional) organizations, data concerning the health of the individual, biometric data for the sole purpose of identifying the natural person.</p>
                    <p style="padding-left: 40px;">(4) <strong><em><u>„Personal Data controller“</u></em></strong> means RPA, which determines the purposes and means of the processing of Personal Data of natural persons.</p>
                    <p style="padding-left: 40px;">(5) <strong><em><u>„Processor of Personal Data“</u></em></strong> – may be any natural or legal person, public authority, or body that processes Personal Data on behalf of and on the express written assignment of “RPA” AD. The processor of Personal Data is always a person who is external to the structure of the Company and is not in an employment relationship with the Company. The employees of the company <em>are not processors of Personal Data.</em></p>
                    <p style="padding-left: 40px;">(6) <strong><em><u>„Processing of Personal Data” means any operation or set </u></em></strong>of operations carried out with Personal Data, such as the collection, recording, organization, structuring, storage, modification, use, disclosure by transmission and access, arrangement, erasure, or destruction. In practice, any activity involving the use of Personal Data in some form may involve the processing of Personal Data.</p>
                    <p style="padding-left: 40px;">(7) <strong><em><u>„Data Subject“</u></em></strong> – any living natural person, who is subject to Personal Data stored by the Controller.</p>
                    <p></p>
                    <p style="text-align: center;"><strong>II. DATA SUBJECTS</strong></p>
                    <p><strong>Art.2.</strong> In connection with the provided Services, the Company Processes data regarding the following Data Subjects:</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>Natural persons, visitors of the Website;</li>
                                <li>Natural persons, who have sent inquiries (incl. by phone), requests, signals, complaints to or other correspondence with RPA;</li>
                                <li>Natural persons, whose data is contained in inquiries (incl. by phone), requests, signals, complains to or other correspondence with RPA.</li>
                            </ul>
                        </li>
                    </ul>
                    <p style="text-align: center;"><strong>III. PERSONAL DATA SUBJECT TO PROCESSING</strong></p>
                    <p><strong> Art.3.</strong> RPA Processes the following Personal Data:</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>Data provided in relation to correspondence, complaints, and signals, namely: data concerning customer or user communication, provided in the inquiry form on the Website, including Personal Data provided over phone calls with RPA or sent with standard mail or e-mail.</li>
                                <li>Data provided in relation to the “Request a process analysis” form.</li>
                                <li>Data provided in relation to the visit to the Website, as well as its use.</li>
                            </ul>
                        </li>
                    </ul>
                    <p style="text-align: center;"><strong> </strong><br><strong>IV. PURPOSES OF PERSONAL DATA PROCESSING MEANS OF PROCESSING</strong></p>
                    <p><strong>Art.4.</strong> RPA collects, uses and Processes the information described above for the following purposes:</p>
                    <p>(1) To protect and enforce RPA’s legitimate interests. Those are purposes linked to RPA’s lawful interests and/or third parties such as other users, companies, and others. Those purposes include:</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>Guaranteeing the normal functioning and use of the Website on Your end and on other users’ ends, maintenance and service management, dispute resolution, detection, and prevention of malicious actions.</li>
                                <li>Identifying and resolving technical issues linked to functionality, development and improvement of the Website</li>
                                <li>Carrying out communication with You, including by electronic means</li>
                                <li>Acceptance and processing of received signals, complaints, requests and other correspondence;;</li>
                                <li>Exercising and protecting the rights and legitimate interests of RPA, including in court proceedings, as well as cooperation in the exercise and protection of the rights and legitimate interests of other users of the Website and/or affected third parties.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>For those purposes, it may be necessary to process a part of or all of the abovementioned categories.</p>
                    <p>(2) Purposes, for which you have given your explicit consent. Your data can be processed on the grounds of Your explicit consent, where such processing is specific in its extent and range, as provided for in the relevant consent.</p>
                    <p>(3) For RPA to comply with its legal obligations, which include fulfillment of obligations provided for in the legislation to retain or provide information when order by a competent state or judicial authority is received when providing an opportunity to the competent authorities to exercise their control powers when fulfilling RPA’s legal obligations to inform You about circumstances relating to Your rights, the provided Services or with the protection of Your data and other. For those purposes, it may be necessary to process a part of or all of the abovementioned categories.</p>
                    <p>(4) So as to respond to Your inquiries and to process Your complaints. In order to resolve Your complaints, signals, disputes, inquiries, requests, and other questions, put forward in communication via the Website, through phone calls with RPA, via standard mail or e-mail, We store and Process such information, as well as the result of such Processing.</p>
                    <p>(5) For statistical purposes including analyzing the performance of applications on the Website as well as their utilization by users.</p>
                    <p>(6) The Website needs cookies to function properly. You can find a detailed description of the cookies used by us and their purpose in the Cookie Policy published on the Website.</p>
                    <p>(7) Website logs related to security, maintenance, development and other aims may be used for the following purposes:</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>For securing the reliable functioning of the Website and identification of technical issues;</li>
                                <li>For security reinforcement and detection of malicious actions;</li>
                                <li>For the development and improvement of the Website;</li>
                                <li>For measuring traffic and usability of the Website;</li>
                                <li>Logs as required by the law (like logs on the electronic expression of will).</li>
                            </ul>
                        </li>
                    </ul>
                    <p>Server logs, logs on devices guaranteeing security (Web Application Firewalls), and other devices falling in this category. Those logs are necessary for detecting technical issues, detecting malicious activities, and other purposes as listed above. Logs are retained for a period of up to 1 (one) calendar year. Logs can contain the following information: date, hour, IP address, URL, browser, and user device metadata.</p>
                    <p></p>
                    <p><strong>Art.5.</strong> Тhe provided functionalities in the Website are not intended for storage and Processing of special categories of Personal Data pursuant to Art. 9 and Art. 10 of the Regulation.</p>
                    <p></p>
                    <p><strong>Art.6.</strong> RPA does not collect and does not process Personal Data of minors aged 16 or below, unless with the consent of a parent, subject to the applicable local legislation. Should RPA find out that the Personal Data of a minor has been accidentally collected, We shall delete the data as soon as reasonably possible.</p>
                    <p></p>
                    <p style="text-align: center;"><strong>V</strong><strong>. RETENTION PERIOD</strong></p>
                    <p><strong>Art.7.</strong> RPA stores Your Personal Data for a period necessary to achieve the purposes for which it was collected. Upon achieving the relevant purpose, Your Personal Data shall be immediately destroyed, unless RPA is obliged to Process it for a longer period pursuant to applicable legislation.</p>
                    <p></p>
                    <p><strong>Art.8.</strong> In certain circumstances, RPA has the right to anonymize Your Personal Data for research, statistical or other purposes, in which event the Company may use this data for an indeterminate period of time without having to additionally notify You.</p>
                    <p></p>
                    <p><strong>Art.9.</strong> In the event that RPA no longer requires Your Personal Data, the latter shall be deleted or anonymized, so that all details which lead to Your identification shall be removed. In the absence of legal grounds for the lawful Processing of Your Personal Data or when you have withdrawn Your consent to Processing, RPA shall delete the Personal Data within a reasonable time period.</p>
                    <p></p>
                    <p><strong>Art.10.</strong> In events where we Process Your Personal Data on the grounds of Your consent, including but not limited to marketing purposes, the data shall be Processed and stored until we receive Your request to have it deleted (forgotten).</p>
                    <p></p>
                    <p><strong>Art.11</strong>. In the event a dispute or legal proceedings have arisen, requiring the retention of Personal Data and/or upon request by a competent state authority, it is possible to retain the Personal Data for a longer period than the one specified, until resolution of the dispute or completion of the legal proceedings at all judicial levels. The specified period is subject to change if an alternative retention obligation is determined pursuant to the current legislation.</p>
                    <p></p>
                    <p style="text-align: center;"><strong>VI. PROVIDING PERSONAL DATA TO THIRD PARTIES</strong></p>
                    <p><strong>Art.12.</strong> Your Personal Data may be provided to third parties only in the following events:</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>when this is provided for in the legislation</li>
                                <li>when duly requested by a competent state or judicial authority;</li>
                                <li>when we have received Your explicit consent;</li>
                                <li>when necessary for the protection of the rights and legitimate interests of RPA and/or other users.</li>
                            </ul>
                        </li>
                    </ul>
                    <p><strong>Art.13.</strong> In the events envisaged by Art.12, p.1, RPA implements contractual arrangements and mechanisms for data security, aiming to protect Your Personal Data, as well as to comply with the current data protection, privacy, and security standards.</p>
                    <p></p>
                    <p><strong>Art.14.</strong> Personal Data, stored by RPA, may be transferred to:</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>Third parties and/or organizations, which supply us with applications and/or functionalities; IT services and services related to Personal Data Processing.</li>
                                <li>Third parties who assist us with the provision and management of our internal IT systems. For example, providers of information technologies, providers of cloud services, identity management, hosting and website management, data analysis, data archiving, security, and storage services. The servers that power up and facilitate this cloud infrastructure are located in protected data centers around the globe and Personal Data can be stored in any of them;</li>
                                <li>Third parties/organizations, who assist us with service or information delivery in alternative means;</li>
                                <li>Auditors and other professional consultants;</li>
                                <li>Law enforcement authorities, other state, and regulatory agencies, and other third parties as required by and in compliance with the applicable legislation;</li>
                            </ul>
                        </li>
                    </ul>
                    <p><strong>Art.15.</strong> With regards to Personal Data regulated by EU legislation, please bear in mind that cross-border transfers might include countries outside of the European Economic Area (EEA) and countries, which have no laws to provide for specific Personal Data Protection. We have taken all necessary steps to guarantee that all Personal Data has the necessary protection and that all transfers of Personal Data outside of EEA are conducted lawfully. When transferring Personal Data outside the EEA in a country that is not classified by the European Commission as providing an adequate level of Personal Data protection, such transfers take place in accordance with an agreement, complying with the requirements of EU for Personal Data transfers outside the EEA – for example, the approved by the European Commission Standard Contractual Clauses (SCCs). You can find more about those clauses <a href="https://eur-lex.europa.eu/legal-content/BG/ALL/?uri=CELEX:32010D0087">here</a>.</p>
                    <p></p>
                    <p style="text-align: center;"><strong>VII</strong><strong>. DATA SUBJECT RIGHTS</strong></p>
                    <p><strong>Art.16.</strong> The Regulation envisages the following data subject rights:</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to be informed</u></strong><strong>.</strong></li>
                            </ul>
                        </li>
                    </ul>
                    <p>This Policy is intended to inform You in detail about the Processing of Your Personal Data in connection with the Services provided.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to Access</u></strong><strong>. </strong> </li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right to receive a confirmation of whether Your Personal Data is being Processed, access to such data, and relevant information regarding the Data Processing and Your respective rights. Such right to access can be exercised at any time.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to rectification</u></strong><strong>. </strong> </li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right to Rectify Your Personal Data in the event it is incomplete or inaccurate.</p>
                    <p>You can exercise the right to Rectify Your Personal Data at any time through a request to us.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to deletion</u></strong>.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right to request the deletion of Personal Data, except in cases where there is a substantial basis and/or legal obligation for its Processing.</p>
                    <p>Data can be deleted upon expiry of the specified period. Meanwhile, the data can be provided in due course only to the competent state authorities in the exercise of their control powers or to a court of competency in the case of court proceedings for which the court has a standing for. In the event a dispute or legal proceedings have arisen, requiring the retention of Personal Data and/or upon request by a competent state authority, it is possible to retain the Personal Data for a longer period than the one specified, until resolution of the dispute or completion of the legal proceedings at all judicial levels.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to restriction of the processing</u></strong><strong>. </strong> </li>
                            </ul>
                        </li>
                    </ul>
                    <p>The Regulation provides for the possibility of restricting the Processing of Your Personal Data, provided that the statutory grounds required to exercise this right are present.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to inform third parties</u></strong><strong>. </strong> </li>
                            </ul>
                        </li>
                    </ul>
                    <p>Where applicable, You have the right to request from the Controller of Your Personal Data to inform relevant third parties, whom the Controller has shared Your Personal Data with, about any rectification, deletion, or restriction of Processing of Your Personal Data.</p>
                    <p>It is important to note that RPA is not an intermediary in the relationship between You and third parties.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to data portability</u></strong><strong>. </strong> </li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right to obtain Your Personal Data in a structured, commonly used and machine-readable format, and have the right to transmit this data to another Controller at Your own discretion.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right not to be subject to a decision based solely on automated processing</u></strong><strong>.</strong></li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right not to be subject to automated decision making, including profiling, which produces legal effects for You or in a similar fashion significantly affects You, unless the grounds provided for in the applicable Personal Data Protection legislation and appropriate safeguards for Your rights, freedoms and legitimate interests are present.</p>
                    <p>The Website does not utilize technologies falling in this category.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to withdraw consent</u></strong><strong>. </strong> </li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right, at any time, to withdraw Your consent from the Processing of Personal Data, which is on the grounds of Your consent. The withdrawal of consent shall not affect the lawfulness of processing based on consent before its withdrawal.</p>
                    <p>For Services like the subscription to email advertisements, where the subscription is on the grounds of Your will (consent), an option to terminate the subscription at any time (withdrawal of consent) is given.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to object</u></strong><strong>. </strong> </li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right to object to the Processing of Personal Data on the grounds of legitimate interest.</p>
                    <p>In the event of such objection, RPA shall process Your request and if found reasonable, we will fulfill it. Should we consider that there are convincing statutory grounds for such Processing or it is necessary for the establishment, exercise, or defense of legal claims, we shall inform You of such development.</p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li><strong><u>Right to file a complaint with the supervisory authority or the courts</u></strong>.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>You have the right to lodge a complaint with the supervisory authority or judicial authority if you consider that Processing of Your Personal Data violates the applicable Personal Data protection legislation. The supervisory authority of the Republic of Bulgaria is the Commission for Personal Data Protection, with address: Sofia 1592, 2 Prof. Tsvetan Lazarov blvd</p>
                    <p style="text-align: center;"><strong> </strong></p>
                    <p style="text-align: center;"><strong>VII</strong><strong>. DATA ACCURACY</strong></p>
                    <p><strong> Art.17.</strong> RPA does not bear any responsibility for the accuracy of Your Personal Data, does not conduct checks in this regard, and does not guarantee the true identity of the natural persons who have provided the data. In all events of doubt on your behalf, of established fraud and/or misuse, we kindly ask you to inform us immediately. You are obliged, when providing any information on the Website, not to violate the rights of third parties in relation to the protection of their Personal Data or other rights.</p>
                    <p></p>
                    <p><em>The Privacy Policy is drafted in two identical copies, in Bulgarian and English, and if there is a difference between the Bulgarian and English text, the Bulgarian text will be will prevail.</em></p>
                    <p><em> </em></p>
                    <p><em>The Privacy Policy is effective as of 11.05.2021г. </em></p>
                </div>
            </div>
        </div>
    </div>
</div>
